<div class="login-container">
    <p-card>
        <ng-template pTemplate="header">
            <div class="login-header">
                <h2>Login</h2>
            </div>
        </ng-template>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input pInputText type="text" id="username" formControlName="username"
                    placeholder="Enter your username" />
                <div class="error-message"
                    *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
                    Username is required
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input pInputText type="password" id="password" formControlName="password"
                    placeholder="Enter your password" />
                <div class="error-message"
                    *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                    Password is required
                </div>
            </div>

            <div class="button-group">
                <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"></button>
            </div>

            <div class="register-link">
                <p>Don't have an account? <a (click)="navigateToRegister()">Register here</a></p>
            </div>
        </form>
    </p-card>
</div>